@import "tailwindcss";

/* 1. Define your brand theme variables here */
@theme {
  --color-primary: #F29F67;
  --color-dark: #1E1E2C;
  --color-info: #3B8FF3;
  --color-success: #34B1AA;
  --color-warning: #E0B50F;
}

/* 2. Apply your global base styles */
@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-slate-50 text-dark antialiased min-h-screen selection:bg-primary/30 selection:text-dark;
  }
}